@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthAPI AuthAPI
@attribute [AllowAnonymous]

<AuthorizeView>
    <Authorized>
        <MudPaper Class="px-8 pt-2 pb-4 mx-16 my-8" Justify="Justify.Center">
            <p>Você está conectado como @context.User.Identity.Name</p>
        </MudPaper>
    </Authorized>
    <NotAuthorized>
        <MudPaper Class="px-8 pt-2 pb-4 mx-16 my-8" Justify="Justify.Center">
            <MudForm>
                <MudTextField T="string" Label="Email" @bind-Value="email"
                              Variant="Variant.Outlined" Class="my-4"
                              Required="true" RequiredError="Email obrigatório!"
                              OnlyValidateIfDirty="true" />

                <MudTextField T="string" Label="Senha" @bind-Value="senha"
                              InputType="InputType.Password"
                              Variant="Variant.Outlined" Class="my-4"
                              Required="true" RequiredError="Senha obrigatória!"
                              OnlyValidateIfDirty="true" />

                <MudButton Variant="Variant.Filled" Color="Color.Primary"
                           Class="my-6" @onclick="FazerLogin">
                    Login
                </MudButton>

                @if (showErrorMessage)
                {
                    <MudText Class="text-danger my-4">
                        @errorMessage
                    </MudText>
                }
            </MudForm>
        </MudPaper>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? email;
    private string? senha;
    private bool showErrorMessage = false;
    private string? errorMessage;

    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    private async Task FazerLogin()
    {
        var response = await AuthAPI.LoginAsync(email, senha);

        if (response.Sucesso)
        {
            // Oculta a mensagem de erro, caso exista, e redireciona o usuário.
            showErrorMessage = false;
            Navigation.NavigateTo(ReturnUrl ?? "/");
        }
        else
        {
            // Exibe a mensagem de erro.
            showErrorMessage = true;
            errorMessage = string.Join(", ", response.Erros);
        }
    }
}
